<!doctype html>
<html lang="pt-br">
<header>
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css" rel="stylesheet" />
    <style type="text/css">
       @page {
            size: A4
        }
        html { 
            font-size: 10px !important;
         }
        .a4_vertical { 
            width: 21cm ; 
            height: auto; 
            /* background-color: #E0E0E0; */
            display: inline-block;
            page-break-after: auto;
            padding: 2px;
        }
        .a4_horizontal { width: 1122px !important; height: auto; max-width: 1122px !important; background-color: #E0E0E0; }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .table{
            width: 73%;
            padding: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .cabecalho{
            font-family: Arial, Helvetica, sans-serif;
            height: 50px;
            width: 21cm;
        }
        .cabecalho h3 {
            font-size: 14px;
            padding-left: 10px;
            font-family: "Comic Sans MS", cursive, sans-serif;
            float: left;
        }
        .cabecalho h4{
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 30%
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
        float: left;
        width: 9cm;
        text-align: left;
        }
       hr{
           border: 1px black solid;
       }
    </style>
</header>
<body class="a4_vertical">
	<div class="">
        <div class="cabecalho">
            <h3>SouzaSimon</h3>
            <h4>Fechamento de mês</h4>
        </div>
        <hr>
        <ul>
            <li>Compania</li>
            <li>:<%= bead[0].companies.companyName %></li>
            <li>Referencial datas</li>
            <li>:<%= moment(dateEntry).format( 'DD/MM/YYYY')%> ate <%= moment(dateFinal).format( 'DD/MM/YYYY')%></li>
            <li>Quantidade de peças</li>
            <li>:<%=sumBags%></li>
            <li>Valor total</li>
            <li>:<%=(sumValueTotal).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></li>
        </ul>
    </div>
    <table  class="table" >
        <thead>
            <tr>
            <th>Solicitante</th>
            <th>Referencia</th>
            <th>Talão</th>
            <th>Quantidade</th>
            <th>Valor bolsa</th>
            <th>Data Entrada</th>
            <th>Data Saida</th>
            <th>Valor a receber</th>
            </tr>
        </thead>
            <tbody>
            <% bead.forEach(beads => {%>
            <tr>
                <td><%= beads.companies.companyName%></td>
                <td><%= beads.reference%></td>
                <td><%= beads.patch%></td>
                <td><%= beads.amount%></td>
                <td><%= (beads.value).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></td>
                <td><%= moment(beads.dateEntry).format( 'DD/MM/YYYY')%></td>
                <td><%= moment(beads.dateFinal).format( 'DD/MM/YYYY')%></td>
                <td><%=(beads.value * beads.amount).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></td>
            </tr>
            <% }) %>         
        </tbody>
    </table>
    </div>
</body>
</html>